<a href="https://colab.research.google.com/github/RSK11547210/saikrishna_INFO5502_spring2022/blob/main/Assign_Lab1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#1st answer 
sample_str = "google.com"
#empty Dictonary
char_rept = {}

#if a element is already present then it's value is incremented by one otherwise it was set to one.
for i in sample_str:
    if i in char_rept:
        char_rept[i] =char_rept[i] + 1
    else:
        char_rept[i] = 1
#printing the output        
print("Occurances of character in a string are: " + str(char_rept))

In [ ]:
#2nd Answer
sample_list = [1,2,3,4,5,6]

sum_sample = sum(sample_list)
print(sum_sample)

In [ ]:
#4th Answer
a = int(input("Enter value 'a': "))
b = int(input("Enter value 'b': ")) 

S = 3.14 * (1 + a/b)**3
print(S)

In [ ]:
#5th Answer
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50, 6:60}

dic4={}
dic4.update(dic1)
dic4.update(dic2)
dic4.update(dic3)

print(dic4)

In [ ]:
#6th Answer 
sample_tuple = (1,2,3,4,5,'a','b','c','d','e')
a= len(sample_tuple)
check_element = input("Enter a number or alphabet to check if it exists in a tuple: ")

for i in range(1,a):
    if check_element in sample_tuple:
        print("Element exist:",True)
        break
    else:
        print("Element doesnt't exist so, Try again!!!!")
        check_element = input("Enter a number or alphabet to check if it exists in a tuple: ")

In [ ]:
#7th answer 
sample_set = {10,20,30,40,50}

max_sample = max(sample_set)
print("Maximum value in the given set:", max_sample)

min_sample = min(sample_set)
print("Maximum value in the given set:", min_sample)

In [ ]:
#8th Answer 
# write your answer here
student_list = ['ja0964','sa1198','sb1357','vb0218','sc1229','kg0569','kg0470','sg1297','bg0320','fh0141','jl1252','sk1386',
           'ak0956','sk1390','sk1458','sk1313','ak0934','vm0377','nm0618','sm1640','sm1907','gn0108','pr0353','dr0609','ms1500','aos0040','ds0814', 'av0659','nv0234','hy0232']

studnet_list1=set(studnet_list)
updated_list=list(studnet_list1)
group1=studnet_list[:5:]
group2=studnet_list[5:10:]
group3=studnet_list[10:15:]
group4=studnet_list[15:20:]
group5=studnet_list[20:25:]
group6=studnet_list[25:30:]

print(group1)
print(group2)
print(group3)
print(group4)
print(group5)
print(group6)

In [ ]:
#9th Answer 
def find_first_duplicate(values):
    sample_set = set()
    
    for i in range(len(values)):
        if values[i] in sample_set:
           return values[i]
        else:
            sample_set.add(values[i])       
    return -1

values = (input("Enter numbers: "))
print(find_first_duplicate(values))

In [ ]:
#10th Answer 
from datetime import date, timedelta
 
year = int(input("Enter a year: "))
date_start = date(year, 1, 1)
print(date_start)

date_start += timedelta(days=7-date_start.isoweekday())

while date_start.year == year:
    print(date_start)
    date_start += timedelta(days=7)

In [ ]:
#3rd Answer 
def change_char (str1) :
    replace_char = str1[0]
    print("Character that need to be replaced:",str1[0])
    str1 = str1.replace (replace_char, '$')
    str1 = replace_char + str1 [1 : ]
    return str1

print (change_char ('restart'))