<a href="https://colab.research.google.com/github/RSK11547210/saikrishna_INFO5502_spring2022/blob/main/lab_assignment_02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **The second Lab-assignment (02/04/2022, 50 points in total)**

# Question 1

(5 points). Write a Python program to generate 12 random numbers between 1 and 100. Sort the list of numbers in ascending order and print it out. Sort the list of numbers in descending order and print it out. Calculate the average for the group and print it out.

In [ ]:
# Your code here

import random 
sample_lst=[]
asc_lst=[]
dsc_lst=[]
group_lst=[]
for i in range(0,12):
    rnd_int=random.randint(1,100)
    sample_lst.append(rnd_int)
    Asc_lst=sample_lst.sort()
    Dsc_lst=sample_lst.sort(reverse=True)
    
print("random list is:", sample_lst)
#Ascending Order
sample_lst.sort()
print("Ascending order is:", sample_lst)
for i in sample_lst:
    asc_lst=list(sample_lst)
    
#Dscending order
sample_lst.sort(reverse=True)
print("desending order is:", sample_lst)
for i in sample_lst:
    dsc_lst=list(sample_lst)

#group list: 
group_lst =asc_lst + dsc_lst
print("Group list is:", group_lst)

#Average of the group list:
for i in range(len(group_lst)):
    Average = sum(group_lst)/len(group_lst)

print("Average for the group is:", Average)

random list is: [91, 83, 83, 80, 80, 75, 59, 58, 48, 40, 31, 2]
Ascending order is: [2, 31, 40, 48, 58, 59, 75, 80, 80, 83, 83, 91]
desending order is: [91, 83, 83, 80, 80, 75, 59, 58, 48, 40, 31, 2]
Group list is: [2, 31, 40, 48, 58, 59, 75, 80, 80, 83, 83, 91, 91, 83, 83, 80, 80, 75, 59, 58, 48, 40, 31, 2]
Average for the group is: 60.833333333333336

# Question 2
(20 points). Write a program that will do the following string formatting tasks:

(1) Ask the user to enter two sentences.

(2) Make each sentence into a list. Each element in the list should correspond to a word in the sentence. For example, if the sentence is "Alas! Am I alive? This is my first python program", the program should print out ['Alas, '!', 'Am', 'I', 'alive, '?', 'This', 'is', 'my', 'first', 'python', 'program'].

(3) Compare the two sentences. Print out a list of words that occur in both sentences.

(4) Remove any punctuation from the sentence and print it back out. It should remove at least the following characters, but it can remove more: period(“.”), comma (“,”), semicolon (“;”), and colon (“:”)

(5) Count the number of vowels in the sentences. Print out each vowel and the number of times it appears in the sentences, such as: a:2, e:1, i:0, etc

In [ ]:
# Your code here

import re

string1=str(input("Enter string1:"))
string2=str(input("Enter string2:"))

str_list1=re.findall(r"[\w']+|[.,!?;:]",string1)
print("list of string1: ",str_list1)
str_list2=re.findall(r"[\w']+|[.,!?;:]",string2)
print("list of string2: ",str_list2)
print(" ")
print("Below are the same words from both the strings:")
for ele_str1 in str_list1:
    for ele_str2 in str_list2:
        if ele_str1.upper() == ele_str2.upper():
            print(ele_str1)
print("")            
import string

print("Below is the sentence after removing punctuation: ")
for ele_str1 in str_list1:
    for ele_str2 in str_list2:
        if ele_str1.upper() == ele_str2.upper() and ele_str2 not in string.punctuation:
            print(ele_str1, end=" ")
            
print("\n")
import operator

lowercase = string2.lower()
vowel_counts2 = {}
for vowel in "aeiou":
    count2 = lowercase.count(vowel)
    vowel_counts2[vowel] = count2
 
sorted_vowels = dict(sorted(vowel_counts2.items(),key=operator.itemgetter(1),reverse=True))
print("Number of Vowels: ", sorted_vowels)

Enter string1:Alas! Am I alive?
Enter string2:Alas! Am I alive? This is my first python program.
list of string1:  ['Alas', '!', 'Am', 'I', 'alive', '?']
list of string2:  ['Alas', '!', 'Am', 'I', 'alive', '?', 'This', 'is', 'my', 'first', 'python', 'program', '.']

Below are the same words from both the strings:
Alas
!
Am
I
alive
?

Below is the sentence after removing punctuation:
Alas Am I alive

Number of Vowels:  {'a': 5, 'i': 5, 'o': 2, 'e': 1, 'u': 0}

# Question 3 

(5 points). The formula that describes the volume V of a sphere with radius r is the following:

$ V=\frac{4}{3}\ast\ \pi\ast\ r^3 $

Write a program to calculate the value of V when r is in the range of 1–10. Output the result in the following format:

	r	V
	1	…
	2	…
	3	…

In [7]:
# Your code here
print("r","\t","V")
for r in range(1,10):
    V= 4/3 * 22/7 * (r**3)
    print(r,"\t",  V)

r 	 V
1 	 4.190476190476191
2 	 33.523809523809526
3 	 113.14285714285715
4 	 268.1904761904762
5 	 523.8095238095239
6 	 905.1428571428572
7 	 1437.3333333333335
8 	 2145.5238095238096
9 	 3054.857142857143

# Question 4

(20 points). In the field of Data Science, data is often formatted as a comma-delimited (CSV) file, where each line in a file corresponds to a field's value. Refer to Chapter 9 (p. 106) for more information on comma-delimited files. To answer this question, you will need to download the file [lab_assignment_02_denton_housing.csv](https://raw.githubusercontent.com/unt-iialab/info5502-spring2022/main/datasets/lab_assignment_02_denton_housing.csv) included with this assignment. The file [lab_assignment_02_denton_housing.csv](https://raw.githubusercontent.com/unt-iialab/info5502-spring2022/main/datasets/lab_assignment_02_denton_housing.csv) contains statistics about housing in the city of Denton from 2008 to 2014. Write a program to implement the following questions.

(1) (10 pts) Calculate the difference in the number of Occupied Housing Units from year to year and print it. The difference must be calculated for the consecutive years such as 2008-2009, 2009-2010 etc. Finally, print the values in the ascending order.

(2) (10 pts) For all the years, calculate the percentage of housing units which are vacant an occupied. Print the results in the following format:

Year Vacant Housing Units Occupied Housing Units

    2008  30%   70%                          
	2009 ----- -----
	2010 ----- -----
    2011 ----- -----
	2012 ----- -----
    2013 ----- -----
	2014 ----- -----
  
  

(3) (10 pts) Calculate and print the valued and years in which the highest number of housing units were vacant and occupied. Print the results in the following format:  

                              Year	Value
	Vacant Housing Units	  -----   -----
	Occupied Housing Units	-----   -----

(4) (10 pts) Calculate the harmonic mean of the total housing units and print it out. You can find the information about harmonic mean here: https://ncalculators.com/statistics/harmonic-mean-calculator.htm

In [ ]:
# Your code here

import pandas as pd
housing_denton=pd.read_csv("/content/lab_assignment_02_denton_housing.csv")

#4)Answer--Harmonic mean
import statistics
print(statistics.harmonic_mean(list(housing_denton[housing_denton['title_field'] == 'Total Housing Units'].value)))

44398.28543969185

In [6]:
import pandas as pd
df=pd.read_csv("lab_assignment_02_denton_housing.csv")

#4th question 1st Answer
occupied_houses = df.loc[df['title_field'] == 'Occupied Housing Units'].sort_values('year', ascending=True)
occupied_houses['Diff_value'] = occupied_houses['value'].diff()
drop_idx = occupied_houses.reset_index(drop=True)
occupied_houses
drop_na=occupied_houses['Diff_value'].dropna()
print("Ascending order of values:",(sorted(drop_na)))

#4) Answer
import statistics
print(statistics.harmonic_mean(list(df[df['title_field'] == 'Total Housing Units'].value)))

Ascending order of values: [-795.0, -303.0, 1404.0, 1565.0, 2622.0, 5091.0]
44398.28543969185

In [3]:
#4th question 3)Answer
Max_Vacant=max(df.loc[df['title_field'] == 'Vacant Housing Units'].value)
Max_Occupied=max(df.loc[df['title_field'] =='Occupied Housing Units'].value)
Final_Vacant=df.loc[df['value'] == Max_Vacant]
Final_Occupied=df.loc[df['value'] == Max_Occupied]
columns_reorder=['title_field','year','value']
Final_Vacant = Final_Vacant.reindex(columns=columns_reorder)
Final_Occupied = Final_Occupied.reindex(columns=columns_reorder)

Final_Output= pd.concat([Final_Vacant, Final_Occupied])
Final_Output

               title_field  year  value
19    Vacant Housing Units  2008   4483
2   Occupied Housing Units  2014  46295

In [5]:
#4th question 2) Answer
yrs = sorted(list(df['year'].unique()))
vcnt_units=df[df['title_field']=='Vacant Housing Units'].sort_values(by=['year'])
occp_units=df[df['title_field']=='Occupied Housing Units'].sort_values(by=['year'])
total_units=df[df['title_field']=='Total Housing Units'].sort_values(by=['year'])
new_df=pd.DataFrame()
new_df['year']=yrs
new_df['Vacant Housing Units'] = vcnt_units['value'].values
new_df['Occupied Housing Units'] = occp_units['value'].values
new_df['Total Housing Units'] =total_units['value'].values
new_df['Vacant Housing Unit Percent'] = new_df['Vacant Housing Units'] *100 /new_df['Total Housing Units']
new_df['Occupied Housing Unit Percent'] = new_df['Occupied Housing Units'] *100 /new_df['Total Housing Units']

Final_result = new_df.loc[:,['year', 'Vacant Housing Unit Percent', 'Occupied Housing Unit Percent']]
Final_result

   year  Vacant Housing Unit Percent  Occupied Housing Unit Percent
0  2008                    10.882653                      89.117347
1  2009                     9.071116                      90.928884
2  2010                     8.142556                      91.857444
3  2011                     9.379522                      90.620478
4  2012                     6.677600                      93.322400
5  2013                     8.801788                      91.198212
6  2014                     5.730111                      94.269889